<div id="fb-root"></div>

<!-- <script src="//connect.facebook.net/en_US/all/debug.js"></script> -->
<script src="//connect.facebook.net/en_US/all.js"></script>

<script type="text/javascript">
    window.fbAsyncInit = function() {
        facebook_init('<%= APP_ID %>');
    }
</script>